<html>
  <head>

  </head>

  <body>

    <!-- diplay stock A -->
    <h1>
      Stock A
    </h1>
    <ul>
      <% for(var i=0; i < stockA.length; i++) { %>
        <li> <%=stockA[i]%> </li>
      <% } %>
    </ul>

    <!-- diplay stock B -->
    <h1>
      Stock B
    </h1>
    <ul>
      <% for(var i=0; i < stockB.length; i++) { %>
        <li> <%=stockB[i]%> </li>
      <% } %>
    </ul>

  </body>
</html>
