<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title: <%= title %></title>
  </head>
  <body>
    <h1>
      Details for <%= stockA.name %> and <%= stockB.name %>
    </h1>
    <p>
      The correlation between these stocks: <%= correlation %>
    </p>
  </body>
</html>
