<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title: <%= title %></title>
  </head>
  <body>
    <!-- Loop through and display the stocks -->
    <% for(var i = 0; i < stock.length; i++) { %>
      <h1>
        <a href="<%= i %>" ><%= stock[i].name %></a>
      </h1>
      <ul>
        <% for (var j = 0; j < stock[i].monthly.length; j++) { %>
          <li> <%= stock[i].monthly[j] %> </li>
        <% } %>
      </ul>
    <% } %>

  </body>
</html>
