<!DOCTYPE html>
<html>
<title>PortOpt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2" id="myNavbar">
    <a href="#stocks" class="w3-bar-item w3-button w3-wide">PORTFOLIO OPTIMIZATION</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="http://burritocat.xyz" target="_blank" class="w3-bar-item w3-button">BURRITOCAT</a>
      <a href="https://github.com/houtan1/PortOpt-WebApp" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-code-fork"></i> CODE</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="http://burritocat.xyz" target="_blank" onclick="w3_close()" class="w3-bar-item w3-button">BURRITOCAT</a>
  <a href="https://github.com/houtan1/PortOpt-WebApp" target="_blank" onclick="w3_close()" class="w3-bar-item w3-button">CODE</a>
</nav>

<!-- Stocks Section -->
<div class="w3-container w3-center w3-light-grey" style="padding:128px 16px" id="stocks">
  <h3>Pick two stocks</h3>
  <p class="w3-large">Select a pair of stocks that you would like to invest in.</p>
  <div class="w3-row-padding">

    <!-- start a form here with simple get request -->
    <form action="/pair" method="get">
      <!-- Loop through and display the stocks -->
      <% for(var i = 0; i < stock.length; i++) { %>
        <div class="w3-third w3-padding">
          <ul class="w3-ul w3-white w3-hover-shadow">
            <li class="w3-black w3-xlarge w3-padding-32"><%= stock[i].name %></li>
            <li class="w3-padding-16">
              <h2 class="w3-wide">$<%= expectation[i] %></h2>
              <span>Expectation</span>
            </li>
            <li class="w3-padding-16">Risk <b><%= risk[i] %></b></li>
            <li class="w3-padding-16">
              <input class="w3-check" type="checkbox" name="index" value="<%=i%>">
              <label>Select</label>
            </li>
          </ul>
        </div>
      <% } %>
    <div class="w3-row-padding" style="margin-top:64px">
      <button class="w3-button w3-black w3-padding-large" type="submit">Submit Stock Pair</button>
    </div>
    </form>
  </div>

</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#stocks" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/houtan1" target="_blank">
      <i class="fa fa-github w3-hover-opacity"></i>
    </a>
    <a href="https://www.linkedin.com/in/houtane/" target="_blank">
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </a>
  </div>
</footer>

<!-- Sidebar effects-->
<script>
// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
